<h1>Edit Employee Form:</h1>

<% if flash[:errors] %>
<ul>
  <% flash[:errors].each do |error| %>
  <li style="color: red"><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= form_for(@employee) do |f|%>
<%= f.label :first_name %>
<%= f.text_field :first_name %><br><br>
<%= f.label :last_name %>
<%= f.text_field :last_name %><br><br>
<%= f.label :alias %>
<%= f.text_field :alias %><br><br>
<%= f.label :title %>
<%= f.text_field :title %><br><br>
<%= f.label :office %>
<%= f.text_field :office %><br><br>
<%= f.label :dog %>
<%= f.collection_select(:dog_id, @dogs, :id, :name, prompt: false) %><br><br>
<%= f.label :img_url %>
<%= f.text_field :img_url %><br><br>
<%= f.submit %>
<% end %>

<%= link_to("back to Employee", employee_path(@employee)) %>
